MONGODB_URI=MONGODB CONNECTION URI    # URL to the mongodb database
BACKEND_URI=http://localhost:8080     # URL to the backend
BETTER_AUTH_SECRET=                   # Better Auth Secret
BETTER_AUTH_URL=http://localhost:3000 # DEV
