@import "tailwindcss";

:root {
  --background: oklch(0.9642 0 0);
  --foreground: oklch(0.252 0 129.63);
  --text: oklch(0.252 0 129.63);
  --text-secondary: oklch(37.3% 0.034 259.733);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    padding: 0;
}
